<div id="tint"></div>
<div id="modal">
	<form data-edit-id="0">
		<div class="form_group">
			<label for="title">Title</label>
			<input id="title" type="text" maxlength="18" name="title" placeholder="Title">
		</div>
		<div class="form_group">
			<label for="day">Due Date</label>
			<div class="input_group">
				<input id="day" type="number" min="1" max="31" name="day" placeholder="Day">
				/ <input id="month" type="number" min="1" max="12" name="month" placeholder="Month">
				/ <input id="year" type="number" name="year" min="2017" placeholder="Year">
				<span id="notification"></span>
			</div>
		</div>
		<div class="form_group">
			<label for="description">Description</label>
			<textarea id="description" maxlength="100" placeholder="Description"></textarea>
		</div>
		<input id="submit" type="button" class="button" value="Save"><!--
	--><input id="mark-as-complete" type="button" class="button" value="Mark As Complete">
	</form>
</div>